extends layouts/LayoutTheme
include mixins/common/Cta
include mixins/common/Footer
//- include mixins/pricing/PricingTable



append variables
  - var currentPage = 'user-reseach'

prepend scripts
  
append content

  +Cta 
  +PreFooter
  